body {
    font-family: sans-serif;
    padding : 0px;
    margin: 0px;
    border: 0px;
    background-color:rgb(220,220,220);
}

#below{
    font-size: 0.9em;   
    font-weight: 600; 
    margin-top: 0,1em;
}



html{
    font-size: 17px;
}

header {
    text-align: center;
    max-width : 100%;
    min-width: 30%;
    margin : 1.3em, 2.5em, 0px, 2.5em;
    border : solid 3px rgb(150,150,150);
    border-bottom:0px;
    padding-bottom:3px;
    background: rgb(180,180,180);

}


h2 {
    color: rgb(black);
    font-size: 4em;
}

h3 {
    color: #ffffff;
    font-size:2em;

}

section {
    margin-bottom: 2.5em;
    margin-top: 0px;
    font-size: 1.4em;
}

address {
    font-size: 1.3em;
    color: dimgray;
    margin-bottom: 10px;
    font-weight: 100;
    font-family: 'Open Sans';
    margin-top:0.5em;
}

li{
    list-style-type:none;
    list-style-position: inside;
    font-size: 0.9em;
    line-height:1.5em;
}

p {
    line-height: 1.7em;  
    margin-bottom: 0px;
    
}

#frontdeveloper{
    font-style : italic;
    text-decoration: underline;
    color: rgb(190, 156, 45);
}

summary {
    
    font-size: 1em;
}

a {
    color: black;
    
}
li>a{
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top:1.5rem;
}
main{
    margin-top: 2.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    margin-bottom: 3em;
    
}

.fc{
    display:flex;
    flex-flow:row wrap;
    min-height:calc(100vh - 300px);
}

.fc > *{
    flex:1;
    margin:10px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightcyan;
}

.fc header, .fc footer{
    flex:0 1 100vw;
    text-align: left;
}