html{
    margin : 0px;
    padding:0px;
    font-family: Verdana;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding:0px;
    text-align: center;
    background-color: #CADBC0;
}

header{
    background-color:#CBB3BF;
    margin-top:-30px;
    padding-top:15px;
    margin-bottom:0px;
    padding-bottom:15px;
    color:white;
}

.fc{
    padding:0px;
    display:flex;
    text-align:center;
    justify-content: space-around;
    align-items:flex-start;
}

.fc>p{
    background-color: yellow; 
    flex-flow:row wrap;
    text-align:center;
    border: solid 2px black;
    flex: 1,1,90px;
    padding:5px;
    margin:3px;
}

div{
    margin-top:20px;
}

h2{
margin-bottom:10px;
}

#margin-left label,input{
    margin-left:35px;
}

footer{
    margin-top:25px;
    font-family:monospace;
    font-weight: 900;
    background-color:azure;
    margin-bottom:-1000px;
}

.test{
    box-sizing:border-box;
    background-color: rgb(218, 218, 218);
    display: inline-block;
    width:325px;
    height:325px;
    padding:10px;
    
}

.title{
    background-color: rgb(218, 218, 218);
    display:inherit;
    width: inherit;
    
}

#form_race{
    background-color:#3C3C3C;
    display:inline-block;
    border-radius:5px;
    width:30%;
    padding-bottom:5px;
    margin-top:30px;
    color:white;
    font-weight:600;
}

#form_race button{
    border-radius:10px;
    padding:0px 10px;
    border:0px;
    font-size:17px;
    height:30px;
    background-color:thistle;
    color:black;
    transition: 0.3s;
}


#form_race button:hover{
    background-color:rgb(165, 137, 165);
    color:rgb(107, 107, 107);
}
.name {
    display:flex;
    justify-content:space-around;
}

#firstName{
    margin-right:-13px;
}