body {
    margin-top:0px;
    font-family: sans-serif;
    
}

#below{
    font-size: 0.9em;   
    font-weight: 600; 
    margin-top: 0,1em;
}

html{
    font-size: 17px;
}
header {
    color: purple;
    text-align: center;
    margin-top: 50px;
    margin-bottom:0px;
}

h2 {
    font-size: 2em;
    margin-bottom:0.2em;
}

h3 {
    color: red;
    font-size:1em;
    margin-top:1.5em;
    margin-bottom:0px;
}

section {
    margin-bottom: 2.5em;
    margin-top: 0px;
    font-size: 1.4em;
}

address {
    font-size: 1.3em;
    color: dimgray;
    margin-bottom: 10px;
    font-weight: 100;
    font-family: 'Open Sans';
    margin-top:0.5em;
}

li{
    list-style-type:circle;
    list-style-position: inside;
}

p {
    line-height: 1.7em;  
    margin-bottom: 0px;
    
    
}

span {
    font-style : italic;
    text-decoration: underline;
    color: rgb(190, 156, 45);
}

summary {
    font-family: serif;
    font-size: 1em;
}

a {
    color: black;
}

li {
    font-size: 0.9em;
}

footer {
    text-align: center;
    margin-top:1.5rem;
}
main{
    margin-top: 2.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    margin-bottom: 3em;
}